{% extends "base.html" %}

{% block page_content %}

<div class="page-header">
    <h1>Person Update, ID: {{ value}}</h1>
        <br>
            <form action="/person_detail_update" method="post">
                <input type="hidden" id="op" name="op" value="I">
                <input type="hidden" id="holder_not_for_use" name="static_id" value={{ value }}>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_name">First name</span>
                    <input type="text" class="form-control" name="first_name" aria-label="Sizing example input" aria-describedby="inputGroup_name">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_lastName">Last Name</span>
                    <input type="text" class="form-control" name="last_name" aria-label="Sizing example input" aria-describedby="inputGroup_lastName">
                </div>
                <br >
                <input class="btn btn-primary" type="submit" name="update_form" value="Update" />
            </form>
</div>
{% endblock %}